body{
    background-color: white;
}
h1{
    color: black;
    text-align: center;
    font-size: 30px;
}
h2{
    color: black;
    text-align: center;
    font-size: 20px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 223, 208);
}
ul li{
    float: left;
}
ul li a{
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.a{
    text-decoration: none;
}
